h1,h2,h3 {
    font-family: Georgia;
    padding: 10px;
    margin: 5px;
}

h1 {
    color: #3E5670;
    font-size: 2.15em;
    margin-left: 20px;
}
h2 {
    color: #889eaf;
    font-size: 1.25em;
}

p {
    font-family:'Times New Roman', Times, serif;
    color: #424642;
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
}

.inlinep {
    display: inline;
}

.biography {
    margin: 20px;
}

ul {
    color: #424642;
}

body {
    background-image: url("backgroundimage/background.jpg");
    background-size: 110%;
}

nav {
    font-size: 1.2em;
    background-color: #FDFAF1;
    padding: 10px;
    margin-bottom: 10px;
}
nav a:hover {
    text-decoration-style: double;
    font-size: 1.2em;
    background-color: #e8e8e8;
}

@media only screen and (max-width: 768px) {
    nav a {max-width: 100%;
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 0px;
        padding: 3px;
    }
    nav span {display: none;}
    .quote {display: none;}
}

a {
    padding: 10px;
    margin-bottom: 30px;
}

form {
    margin-bottom: 30px;
}

a:link {color: #A0280D;}
a:visited {color: #ecb390;}


header {text-align: center;}

.bannerimage {
    max-width: 100%;
}

footer {
    margin: 10px;
}

.quote {float: right;}

.part1 {
    background-color: white;
    border-radius: 2em;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.info {
    padding: 10px;
    float: left;
}

.links {
    padding-top: 70px;
}

.clearfloat {clear: both;}

.part2 {
    display: flex;
    background-color: white;
    border-radius: 2em;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
}

.map, .form {
    padding: 10px;
}

.form {
    order: 1;
    margin-top: 20px;
}

.map {
    order: 2;
}

.flexboxcenter {
    display: flex;
    justify-content: center;
}

.skilltext {
    width: 70%;
    margin-left: 100px;
}

.skills {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

.leftlogo {
    display: flex;
    flex: 5;
    justify-content: space-between;
    margin-top: 70px;
    margin-right: 70px;
    padding: 30px;
}

.rightotherskill {
    background-color: whitesmoke;
    border-radius: 2em;
    flex: 1;
    padding: 5px;
}

.logos {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

#skip {
    position: absolute; 
    left: -999px;
    text-decoration: none;
    background-color: whitesmoke;
}

#skip:focus {
    left: 350px;
}