h1 {
    color:mediumorchid;
    font-size: 400%;
    letter-spacing:1.1em;
}
p {
    color:rgb(0, 110, 255);
    font-weight:bolder;
}
body{
    color:peru;
    font-family:Arial, Helvetica, sans-serif;
}
    /* the peru color only gets applied to h2 b/c p and h1 have their own colors */
h1,h2{
    font-size:400%;
    /* this is a grouped selector, it will style all headings */
}
p a{
    color:orange;
}
/* only styling the link inside p tag */