h1,h2,h3{
    font-family: Georgia;
}

p{
    font-family: Helvetica;
}

h1{
    color: darkorange;
    font-size: 2.15em;
}
h2{
    color: orange;
    font-size: 1.25em;
}

table,th,td{
    border: 1px solid black;
}

.evenrow{
    background-color: rgb(255, 234, 196);
}

